.container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    width: 100%; 
  }
  
  section {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    border-radius: 5px;
    border-width:2px;
    border-style:solid;
    border-color:lightgray;
    padding-bottom: 2px;
    margin-bottom:2px;
    background-color:rgb(222, 222, 222);
  }