.mid {
	background-color:darkgrey;
	display: inline-block;
	width: 63%;
	margin-left:80px;
}
.navbar{
 	display:inline-block;
  	font-family: Arial;
}
.navbar li{
	list-style: none;
	display:inline-block;
	border-right: 1px solid #ccc;
}
.navbar li:last-child {
	border-right: none;
  }
.navbar li a{
	text-decoration: none;
	font-size: 14px;
	padding: 0.3rem 1rem;
}
.navbar li a:hover{
	border-radius: 2px;
	background:#61dafb;
}
.navbar li a.active {
	color:rgb(0, 106, 255);
	border-radius: 5px;
  }
  
.right {
	background-color:darkgray;
	display: inline-block;
	width: 8%;
}
.left {
	background-color: darkgray;
	display: inline-block;
	width: 17%;
	margin-left: 10px;
}



  
